<% if logged_in? %>
  <div class="row">
    <aside class="col-md-3" style="position: fixed;">
      <p class="close new-close" style="display: none;"><i class="fas fa-times fa-7x"></i></p>
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8 post" style="float: right;">
      <%= search_form_for @search, url: micropost_search_path do |f| %>
      <p class="close search-close" style="display: none;"><i class="fas fa-times fa-5x"></i></p>
      <div class="searchbox">
        <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name, include_blank: '場所で検索' %>
        <%= f.collection_select :split_id_eq, Split.all, :id, :name, include_blank: '部位で検索' %>
      </div>
      <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
      <h3>投稿一覧</h3>
      <button class="feed-following-button">フォロー中</button>
      <div class="feed-pc">
        <%= render 'shared/feed' %>
      </div>
      <div class="feed-sp">
        <%= render 'shared/feed' %>
      </div>
      <button class="search-button" style="display: none;"><i class="fas fa-search fa-7x"></i></button>
      <button class="new-button" style="display: none;"><i class="fas fa-plus-circle fa-7x"></i></button>
    </div>
  </div>
  <script>

  /* global $ */

  $('.feed-following-button').click( function(){
    if ( $(this).hasClass("btn-primary")) {
      $(this).removeClass("btn-primary");
      $('.feed-pc').html("<%= escape_javascript(render partial:'shared/feed')%>");
      $('.feed-sp').html("<%= escape_javascript(render partial:'shared/feed')%>");
    } else {
      $(this).addClass("btn-primary");
      $('.feed-pc').html("<%= escape_javascript(render partial:'feed_following')%>");
      $('.feed-sp').html("<%= escape_javascript(render partial:'feed_following')%>");
    }
  });
  
  $('.new-button, .new-close').click( function(){
    if ( $('aside').hasClass('active') ) {
      $('aside').removeClass('active');
      $('aside').fadeOut();
      $('.new-close').css('display', 'none');
    } else {
      $('aside').addClass('active');
      $('aside').fadeIn();
      $('.new-close').css('display', 'block');
    }
  });
  
  $('.search-button, .search-close').click( function(){
    if ( $('.micropost_search').hasClass('active') ) {
      $('.micropost_search').removeClass('active');
      $('.micropost_search').fadeOut();
      $('.search-close').css('display', 'none');
      $('.new-button').prop('disabled', false);
    } else {
      $('.micropost_search').addClass('active');
      $('.feed').scrollTop(0);
      $('.micropost_search').fadeIn();
      $('.search-close').css('display', 'block');
      $('.new-button').prop('disabled', true);
    }
  });
  
  $(function() {
    $('.feed-sp').jscroll({
      contentSelector: '.feed-sp',
      nextSelector: 'span.next:last a',
      loadingHtml: '<i class="fa fa-spinner fa-pulse fa-7x fa-fw loading"></i>'
    });
  });

  </script>

<% else %>
  <div class="home-pc">
    <div class="Heading">
      <div class="Heading-list">
        <h1>フィットネスを、ブームから文化に。</h1>
        <p>Trawithなら、最高のトレーニングパートナーを<br>見つけることができます。<br>さっそく</p>
        <%= link_to "登録する", signup_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "ログイン", login_path, class: "btn btn-lg btn-success" %>
      </div>
    </div>
    <div class="about">
      <h1><i class="far fa-question-circle"></i>Trawithとは</h1>
      <p>トレーニングパートナーを募集するサービスです。</p>
    </div>
    
    <div class="function" style="background-color: #f3f3f3;">
      <div class="container">
        <div class="row" style="display: flex;">
          <div class="col-md-7">
            <h2 class="pb-4"><i class="fas fa-globe"></i>募集機能</h2>
            <p>一緒にトレーニングしたい場所と部位を入力し、より詳細な情報を入力することで募集することができます。</p>
          </div>
          <div class="col-md-5">
            <%= image_tag "/assets/new-pc.png" %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="function">
      <div class="container">
        <div class="row" style="display: flex;">
          <div class="col-md-7">
            <h2 class="pb-4"><i class="fas fa-search"></i>検索機能</h2>
            <p>検索フォームに場所や部位、ユーザー情報を入力することで、それに合う検索結果を探すことができます。</p>
          </div>
          <div class="col-md-5">
            <%= image_tag "/assets/search-pc.png" %>
          </div>
        </div>
      </div>
    </div>

    <div class="function" style="background-color: #f3f3f3;">
      <div class="container">
        <div class="row" style="display: flex;">
          <div class="col-md-7">
            <h2 class="pb-4"><i class="far fa-envelope"></i>トーク機能</h2>
            <p>気になるユーザーに直接トークすることで、よりマッチングしやすくなります。</p>       
          </div>
          <div class="col-md-5">
            <%= image_tag "/assets/talk-pc.png" %>
          </div>
        </div>
      </div>
    </div>

    <div class="function">
      <div class="container">
        <div class="row" style="display: flex;">
          <div class="col-md-7">
            <h2 class="pb-4"><i class="fas fa-user-plus"></i>フォロー機能</h2>
            <p>気になるユーザーをフォローして、投稿をチェックすることができます。</p>
          </div>
          <div class="col-md-5">
            <%= image_tag "/assets/follow-pc.png" %>
          </div>
        </div>
      </div>
    </div>

    <div class="last">
      <h2><i class="fas fa-check-circle" style="color: #4CAF50; margin-right: 10px;"></i>さあ、始めよう</h2>
      <p>登録に必要な時間は１分程度です。</p>
      <%= link_to "登録する", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "ログイン", login_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>
  
  <div class="home-sp" style="display: none;">
    <div class="Heading">
      <div class="Heading-list">
        <h1>フィットネスを、ブームから文化に。</h1>
        <p>Trawithなら、最高のトレーニングパートナーを<br>見つけることができます。<br>さっそく</p>
        <%= link_to "登録する", signup_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "ログイン", login_path, class: "btn btn-lg btn-success" %>
      </div>
    </div>
    <div class="about">
      <h1><i class="far fa-question-circle"></i>Trawithとは</h1>
      <p>トレーニングパートナーを<br>募集するサービスです。</p>
    </div>
    
    <div class="function" style="background-color: #f3f3f3;">
      <div class="container">
        <div class="row" style="display: flex;">
          <div class="col-md-7">
            <h2 class="pb-4"><i class="fas fa-globe"></i>募集機能</h2>
            <p>一緒にトレーニングしたい場所と部位を入力し、より詳細な情報を入力することで募集することができます。</p>
          </div>
          <div class="col-md-5">
            <%= image_tag "/assets/new-sp.png" %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="function">
      <div class="container">
        <div class="row" style="display: flex;">
          <div class="col-md-7">
            <h2 class="pb-4"><i class="fas fa-search"></i>検索機能</h2>
            <p>検索フォームに場所や部位、ユーザー情報を入力することで、それに合う検索結果を探すことができます。</p>
          </div>
          <div class="col-md-5">
            <%= image_tag "/assets/search-sp.png" %>
          </div>
        </div>
      </div>
    </div>

    <div class="function" style="background-color: #f3f3f3;">
      <div class="container">
        <div class="row" style="display: flex;">
          <div class="col-md-7">
            <h2 class="pb-4"><i class="far fa-envelope"></i>トーク機能</h2>
            <p>気になるユーザーに直接トークすることで、よりマッチングしやすくなります。</p>       
          </div>
          <div class="col-md-5">
            <%= image_tag "/assets/talk-sp.png" %>
          </div>
        </div>
      </div>
    </div>

    <div class="function">
      <div class="container">
        <div class="row" style="display: flex;">
          <div class="col-md-7">
            <h2 class="pb-4"><i class="fas fa-user-plus"></i>フォロー機能</h2>
            <p>気になるユーザーをフォローして、投稿をチェックすることができます。</p>
          </div>
          <div class="col-md-5">
            <%= image_tag "/assets/follow-sp.png" %>
          </div>
        </div>
      </div>
    </div>

    <div class="last">
      <h2><i class="fas fa-check-circle" style="color: #4CAF50;"></i>さあ、始めよう</h2>
      <p>登録に必要な時間は１分程度です。</p>
      <%= link_to "登録する", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "ログイン", login_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>

<% end %>

