<div class="fukidasi">
  <div class="icon">
    <%= link_to user_path(message.user) do %>
      <% if message.user.image? %>
        <%= image_tag message.user.image.thumb.url, class: "gravatar", size: "50x50" %>
      <% else %>
        <%= image_tag "/assets/default.png", class: "gravatar", size: '50x50' %>
      <% end %>
    <% end %>
  </div>
  <div class="messaging">
    <p><%= message.user.name %><span><%= message.created_at.strftime("%m-%d %H:%M") %></span></p>
    <div class="says">
      <p><%=safe_join(message.message.split("\n"),tag(:br))%></p>
      <%= image_tag message.image.variant(resize_to_limit: [500, 500]) if message.image.attached? %>
    </div>
  </div>
</div>

