<% provide(:title, "users") %>
<%= search_form_for @search, url: user_search_path do |f| %>
  <div class="searchbox">
    <%= f.text_field :name_cont %>
  </div>
  <%= f.submit "検索", class: "btn btn-primary" %>
<% end %>
<h1>ユーザー一覧</h1>

<% if @search_users.any? %>
<div class="users-pc">
  <ol class="users">
    <%= render @search_users %>
  </ol>
  <%= paginate @search_users,
                params: { controller: :users, action: :search }%>
</div>
<div class="users-sp">
  <ol class="users">
    <%= render @search_users %>
  </ol>
  <%= paginate @search_users,
                params: { controller: :users, action: :search }%>
</div>

<% end %>

<script>
  
  $(function() {
  $('.users-sp').jscroll({
    contentSelector: '.users-sp',
    nextSelector: 'span.next:last a'
    });
  });

</script>
