<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-3" style="position: fixed;">
    <section class="user_info">
      <% if @user.image? %>
        <%= image_tag @user.image.thumb.url, class: "gravatar", size: "50x50" %>
      <% else %>
        <%= image_tag "/assets/default.png", class: "gravatar", size: '50x50' %>
      <% end %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "プロフィール", @user %></span>
      <span><b>投稿数:</b> <%= @user.microposts.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8 users-pc" style="float: right;">
    <h3><%= @title %></h3>
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= paginate @users %>
  </div>
  
  <div class="col-md-8 users-sp">
    <h3><%= @title %></h3>
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= paginate @users %>
  </div>
</div>

<script>
  
  $(function() {
    $('.users-sp').jscroll({
      contentSelector: '.users-sp',
      nextSelector: 'span.next:last a',
      loadingHtml: '<i class="fa fa-spinner fa-pulse fa-7x fa-fw loading"></i>'
    });
  });
  
</script>
