<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4 user-show" style="position: fixed;">
    <section class="user_info">
      <h1>
        <div>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </div>
      </h1>
      <h5>
        <% if @user.introduction? %>
          <div class="introduction"><%= @user.introduction %></div>
        <% end %>
      </h5>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <h3 class="user-show-h3">投稿数(<%= @user.microposts.count %>)</h3>
  <div class="col-md-8 user-micropost-pc" style="float: right; min-height: 50vh; width: 62%">
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
    <% else %>
      <h4>
        投稿はまだありません
      </h4>
    <% end %>
  </div>
  
  <div class="col-md-8 user-micropost-sp" style="display: none;">
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= paginate @microposts %>
    <% else %>
      <h4>
        投稿はまだありません
      </h4>
    <% end %>
  </div>

</div>

<script>
    
  $(function() {
  $('.user-micropost-sp').jscroll({
      contentSelector: '.microposts',
      nextSelector: 'span.next:last a',
      loadingHtml: '<i class="fa fa-spinner fa-pulse fa-7x fa-fw loading"></i>'
    });
  });

  
</script>

