<div class="micropost_error">
  
</div>
<%= form_with(model: @micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '場所を選択' %>
    <%= f.collection_select :split_id, Split.all, :id, :name, include_blank: '部位を選択' %>


    <%= f.text_area :content, placeholder: "より詳細な情報を入力..." %>
  </div>
  <%= f.submit "投稿する", class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>

<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#micropost_image").val("");
    }
  });
</script>
