<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
  <a id="follow_form">
    <%= render 'users/follow_form' if logged_in? %>
  </a>
  <% unless @user.id == current_user.id %>
    <% if @haveRoom == true %>
      <a href="<%=  room_path(@roomId) %>">
        <i class="far fa-envelope fa-2x"></i>
      </a>     
    <% else %>
      <%= form_with(model: @room, local: true) do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "トークを始める", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</div>

