<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="room-icon">
      <div class="icon">
        <% @entries.each do |e| %>
          <% unless e.user == current_user %>
          <button id="page-top"><%= gravatar_for(e.user, size: 50) %></button>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="room">
      <% if @messages.present? %>
        <%= render @messages %>
      <% else %>
        <h3 id="first_comment">メッセージはまだありません</h3>
      <% end %>
    </div>
    <div id="message">
      <%= form_with model: @message do |f| %>
        <%= f.text_area :message, placeholder: "入力...", id: "message_form" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "送信", class: "btn submit-button" %>
      <% end %>
    </div>
  </div>
</div>

<script>
$(document).on ("turbolinks:load", function (){
  const room = document.getElementById('room');
  room.scrollTop = room.scrollHeight;
  $('#page-top').on('click', function () {
    $('#room').scrollTop(0);
  });
});
</script>


