<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="room-icon">
      <div class="icon">
        <% @entries.each do |e| %>
          <% unless e.user == current_user %>
          <button id="page-top"><%= gravatar_for(e.user, size: 50) %></button>
          <% end %>
        <% end %>
      </div>
    </div>
    <div id="room">
      <% if @messages.present? %>
      <div id="message-list">
        <%= render @messages %>
        <%= paginate @messages %>
      </div>
      <% else %>
        <h3 id="first_comment">メッセージはまだありません</h3>
      <% end %>
    </div>
    <div id="message">
      <%= form_with model: @message do |f| %>
        <%= f.text_area :message, placeholder: "入力...", id: "message_form", maxlength: "140" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
        <%= f.submit "送信", class: "btn btn-primary submit-button disabled", id: "message_button", data: {disable_with: '送信中...'} %>
      <% end %>
      <p class="close new-close" style="display: none;"><i class="fas fa-times fa-5x"></i></p>
    </div>
    <button class="new-button" style="display: none;"><i class="fas fa-plus-circle fa-7x"></i></button>
  </div>
</div>

<script>
  const room = document.getElementById('room');
  $('#page-top').on('click', function () {
    $('#room').scrollTop(0);
  });

  $(function() {
    $('#room').jscroll({
      contentSelector: '#message-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<i class="fa fa-spinner fa-pulse fa-7x fa-fw loading"></i>'
    });
  });

  $("#message_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("最大ファイルサイズは5MBです。 小さいファイルを選択してください。");
      $("#message_image").val("");
    }
  });
  
  $('.new-button, .new-close').click( function(){
    if ( $('#message').hasClass('active') ) {
      $('#message').removeClass('active');
      $('#message').fadeOut();
      $('.new-close').css('display', 'none');
    } else {
      $('#message').addClass('active');
      $('#message').fadeIn();
      $('.new-close').css('display', 'block');
    }
  });
  
  $('#message').on('submit', function(){
    $('#message_button').removeAttr('data-disable_with');
  });

</script>


