<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="room-icon">
      <div class="icon">
        <% @entries.each do |e| %>
          <% unless e.user == current_user %>
            <%= link_to gravatar_for(e.user, size: 50), user_path(e.user) %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="room">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
          <% if m.user_id == current_user.id %>
          <div class="mymessage">
            <p><%=safe_join(m.message.split("\n"),tag(:br))%></p>
          </div>
          <% else %>
          <div class="fukidasi">
            <div class="icon">
              <%= link_to gravatar_for(m.user, size: 50), user_path(m.user) %>
            </div>
            <div class="messaging">
              <div class="says">
                <p><%=safe_join(m.message.split("\n"),tag(:br))%></p>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>  
      <% else %>
        <h3 class="text-center">メッセージはまだありません</h3>
      <% end %>
    </div>
    <form>
      <textarea data-behavior="room_speaker" data-chat_room_id="<%= @room.id %>" placeholder="メッセージを入力" class="room__message-form_textarea"></textarea>
      <button class="btn btn-primary submit-button">submit</button>
    </form>
    </div>
  </div>
</div>


