<% if logged_in? %>
  <footer class="footer-pc">
    <nav>
      <ul>
        <li><%= link_to "お問い合わせ", new_inquiry_path %></li>
      </ul>
    </nav>
  </footer>

  <footer class="footer-sp" style="display: none">
    <nav>
      <ul>
        <li>
          <%= link_to root_path do %>
            <i class="fas fa-home fa-5x"></i>
          <% end %>
        </li>
        <li>
          <%= link_to rooms_path do %>
            <i class="far fa-envelope fa-5x"></i>
          <% end %>
        </li>
        <li>
            <%= link_to notifications_path do %>
              <% if unchecked_notifications.any? %>
                <i class="fas fa-bell fa-lg fa-5x"></i>
                <i class="fas fa-circle n-circle fa-3x"></i>
              <% else %>
                <i class="fas fa-bell fa-lg fa-5x"></i>
              <% end %>
            <% end %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class="fas fa-cog fa-5x"></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </footer>
<% end %>
